.footer {
  width: 100%;
  height: 161px;
  background-color: #c8a35f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.blocks-nomber {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.nomber {
  text-decoration: none;
  color: #f2f2f2;
  font-size: 14px;
  font-weight: 400;
}
