.header {
  display: flex;
  flex-direction: column;
}
.block__brown {
  width: 100%;
  height: 45px;
  background-color: #c8a35f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.tel,
.mail {
  text-decoration: none;
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
}
.block__header {
  background-color: #2f343a;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.block__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.line {
  width: 1px;
  height: 46px;
  background-color: #f2f2f2;
}
.block__ofice {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.ofices {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.7px;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.menu__link {
  text-decoration: none;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}
